h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img{
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.firstline .container{
    display: flex;
}

.firstline{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 76px;
}

.brand-logo {
    color: #2E2F42;
    text-transform: uppercase;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.menu-nav {
    font-size: 16px;
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first{
    position: relative;
    color: #404bbf;
}

.first::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;

}

.menu-nav:focus{
    color: #404bbf;
    background-color: #404BBF;
}

.menu-nav:hover {
    color: #404bbf;
}

.adress{
    font-style: normal;
}    

.contact-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
    color: #404bbf;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.contact-link:focus{
    color: #404bbf;
}

.first-section {
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/title-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.first-section .container{
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;

}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus{
    background-color: #404BBF;
}

.second-section{
    padding: 120px 0;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid;
    border-radius: 4px;
    height: 112px;
    border: 1px solid #8e8f99;
}

.second-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.list-methods{
    display: flex;
    gap: 24px;
    margin-left: 156;
}

.text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team .second-title{
    margin-bottom: 72px;
}


.our-team .container{
    flex-direction: column;
}

.container .staff{
    display: flex;
    gap: 24px;
}

.staff .block{
    /* height: 380px; */
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.person-content{
    gap: 8px;
    text-align: center;
    padding: 32px 0;
}

.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    list-style-type: none;
    padding-top: 8px;
}

.social-icon{
    width: 40px;
    height: 40px;
}

.social-icon-link{
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover{
    background-color: #404bbf;
}

.social-icon-link:focus{
    background-color: #404bbf;
}

.social-svg{
    fill: #f4f4fd;
}

.our-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio .container{
    flex-direction: column;
    width: 1128px;
    padding: 0;
}

.container .second-title{
    margin-bottom: 72px;
    column-gap: 24px;
    row-gap: 48px;
}

.container .portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .block{
    width: 360px;
    height: 420px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .block:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.application{
    position: relative;
    overflow: hidden;
}    

.text{
    padding-left: 16px;
}

.text-back{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block:hover .text-back{
    transform: translateY(0%);
}

.third-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-top: 32px;
}

.block {
    list-style-type: none;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.container-footer-logo{
    margin-right: 120px;
}

.foot-logo{
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-text {
    display: flex;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer-logo {
    color: #F4F4FD;
}

.social-container{
    width: 208px;
}

.social-text{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-icon{
    width: 40px;
    height: 40px;
}

.footer-social-icon-link{
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-link:hover{
    background-color:#31d0aa;
}

.footer-social-icon-link:focus{
    background-color: #31d0aa;
}

.footer-social-svg{
    fill: #f4f4fd;
}

.container-form{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

.form-text{
    padding-bottom: 16px;
}

.form{
    display: flex;
    gap: 24px;

}


.form-input{
    border: 1px solid #fff;
    background-color: #2e2f42;
    border-radius: 4px;
    width: 264px;
    height: 40px;
}

.form-input::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    padding-left: 16px;
    padding-top: 8px;
}

.form-button{
    background-color: #4D5AE5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
}

.subscribe-img{
    fill: #fff;
}

.modal-overlay{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: #fff;
    width: 408px;
    height: 584px;
    border-radius: 4px;
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}